---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Something to learn about Mr. Geph."
	pubDate={new Date('July 29 2023')}
	heroImage="/blog-placeholder-about.png"
>
	<p>
		I have a BS and asperations to write some cool ideas that maybe
		myself or someone else will implement. While I work in a random job I plan to make 
		something to keep me engaged, this. 
	</p>

	<p>
		This blog is going to be a space for random topics. Maybe some hunt the obscure flags.
		Life is all about flags, why not hide some. For the most part this will be a blog but 
		why not make some mysteries also... Well have fun and maybe let me know if you like it!
		In the future I will make a Discord or something for this. Contact me on twitter for now. 
	</p>

</Layout>
